@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

html,
body {
	min-height: 100%;
    font-family: 'Krona One', sans-serif;
    margin: auto;
}

header{
    display: flex;
	min-height: 100%;
	flex-direction: row;
    align-items: center;
    border-bottom: 1px rgb(0, 0, 0) solid;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tg-list {
	text-align: center;
	display: flex;
	align-items: center;
}

.tg-list-item {
	margin: 0 2em;
}

h2 {
	color: #777;
}

h4 {
	color: #000000;
}

.tgl {
	display: none;
  
	+ .tgl-btn {
		outline: 0;
		display: block;
		width: 4em;
		height: 2em;
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after,
    &:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}
    
		&:after {
			left: 0;
		}
    
		&:before {
			display: none;
		}
	}
  
	&:checked + .tgl-btn:after {
		left: 50%;
	}
}

.tgl-light {
	+ .tgl-btn {
		background: #f0f0f0;
		border-radius: 2em;
		padding: 2px;
		transition: all .4s ease;
		&:after {
			border-radius: 50%;
			background: #fff;
			transition: all .2s ease;
		}
	}
  
	&:checked + .tgl-btn {
		background: #9FD6AE;
	}
}

.tgl-ios {
	+ .tgl-btn {
		background: #fbfbfb;
		border-radius: 2em;
		padding: 2px;
		transition: all .4s ease;
		border: 1px solid #e8eae9;
		&:after {
			border-radius: 2em;
			background: #fbfbfb;
			transition:
        left .3s cubic-bezier(
          0.175, 0.885, 0.320, 1.275
        ),
        padding .3s ease, margin .3s ease;
			box-shadow:
        0 0 0 1px rgba(0,0,0,.1),
        0 4px 0 rgba(0,0,0,.08);
		}
    
    &:hover:after {
      will-change: padding;
    }
    
		&:active {
			box-shadow: inset 0 0 0 2em #e8eae9;
			&:after {
				padding-right: .8em;
			}
		}
	}
  
	&:checked + .tgl-btn {
    background: #86d993;
    &:active {
      box-shadow: none;
      &:after {
        margin-left: -.8em;
      }
    }
	}
}

.tgl-skewed {
	+ .tgl-btn {
		overflow: hidden;
		transform: skew(-10deg);
		backface-visibility: hidden;
		transition: all .2s ease;
		font-family: sans-serif;
		background: #888;
		&:after,
    &:before {
			transform: skew(10deg);
			display: inline-block;
			transition: all .2s ease;
			width: 100%;
			text-align: center;
			position: absolute;
			line-height: 2em;
			font-weight: bold;
			color: #fff;
			text-shadow: 0 1px 0 rgba(0,0,0,.4);
		}
    
		&:after {
			left: 100%;
			content: attr(data-tg-on);
		}
    
		&:before {
			left: 0;
			content: attr(data-tg-off);
		}
    
		&:active {
			background: #888;
			&:before {
				left: -10%;
			}
		}
	}
  
	&:checked + .tgl-btn {
    background: #86d993;
    &:before {
      left: -100%;
    }

    &:after {
      left: 0;
    }

    &:active:after {
      left: 10%;
    }
	}
}

.tgl-flat {
	+ .tgl-btn {
		padding: 2px;
		transition: all .2s ease;
		background: #fff;
		border: 4px solid #f2f2f2;
		border-radius: 2em;
		&:after {
			transition: all .2s ease;
			background: #f2f2f2;
			content: "";
			border-radius: 1em;
		}
	}
  
	&:checked + .tgl-btn {
    border: 4px solid #7FC6A6;
    &:after {
      left: 50%;
      background: #7FC6A6;
    }
  }
}

.tgl-flip {
	+ .tgl-btn {
		padding: 2px;
		transition: all .2s ease;
		font-family: sans-serif;
		perspective: 100px;
		&:after,
    &:before {
			display: inline-block;
			transition: all .4s ease;
			width: 100%;
			text-align: center;
			position: absolute;
			line-height: 2em;
			font-weight: bold;
			color: #fff;
			position: absolute;
			top: 0;
			left: 0;
			backface-visibility: hidden;
			border-radius: 4px;
		}
    
		&:after {
			content: attr(data-tg-on);
			background: #02C66F;
			transform: rotateY(-180deg);
		}
    
		&:before {
			background: #FF3A19;
			content: attr(data-tg-off);
		}

		&:active:before {
      transform: rotateY(-20deg);
		}
	}
  
	&:checked + .tgl-btn {
    &:before {
      transform: rotateY(180deg);
    }
    
    &:after {
      transform: rotateY(0);
      left: 0;
      background: #7FC6A6;
    }
    
    &:active:after {
      transform: rotateY(20deg);
    }
	}
}

.graficos{
    display: flex;
    justify-content: space-around;
}

.modo{
    display: flex;
	min-height: 100%;
	flex-direction: row;
    align-items: center;
    width: 47%;
    margin-left: 1%;
}

.hora{
    font-size: 24px;
    width: 5%;
    margin-left: 23%;}

.logo{
    width: 20%;
}

.modo h2{
    margin-left: 2%;
}

.nome-usuario{
    margin-left: 5%;
    margin: 44px 69px;
    font-size: 20px;

}

.numeros{
    fill:#87959f;
    font-family:"Open Sans", sans-serif;
    font-weight:400;
    font-size:14px;
    cursor:default;
}

.box-alerta{
    border: solid red 2px;
    border-radius: 50px;
    width: 480px;
    height: 146px;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.box-alerta h1 {
    color: rgba(0, 0, 0, 0.349);
    font-size: 17px;
    margin: 25px 33px;
}

.box-alerta h3 {
    color: rgb(0, 0, 0);
    font-size: 19px;
    margin: 25px 33px;
}

/* graficos */

.color-red {
    stop-color: #e23131;
  }
  
  .color-yellow {
    stop-color: #fbe500;
  }
  
  .color-green {
    stop-color: #25cd6b;
  }
  
  .gradient-mask {
    visibility: hidden;
  }
  .gauge {
    height: 220px;
    width: 300px;
  }
  .gauge .dxg-line {
    -webkit-transform: scaleX(1.04) scaleY(1.03) translate(-4px, -4px);
            transform: scaleX(1.04) scaleY(1.03) translate(-4px, -4px);
  }
  .gauge .dxg-line path:first-child,
  .gauge .dxg-line path:last-child {
    display: none;
  }
  .gauge .dxg-line path:nth-child(2),
  .gauge .dxg-line path:nth-child(3) {
    stroke: #25cd6b;
  }
  .gauge .dxg-line path:nth-child(4),
  .gauge .dxg-line path:nth-child(5) {
    stroke: #a7db29;
  }
  .gauge .dxg-line path:nth-child(6) {
    stroke: #fbe500 ;
  }
  .gauge .dxg-line path:nth-child(7), 
  .gauge .dxg-line path:nth-child(8) {
    stroke: #e67e22 ;
  }
  .gauge .dxg-line path:nth-child(9), 
  .gauge .dxg-line path:nth-child(10) {
    stroke: #e23131 ;
  }
  .gauge .dxg-elements text:first-child {
    -webkit-transform: translate(19px, 13px);
            transform: translate(19px, 13px);
  }
  .gauge .dxg-elements text:last-child {
    -webkit-transform: translate(-27px, 14px);
            transform: translate(-27px, 14px);
  }
  .gauge .dxg-value-indicator path {
    -webkit-transform: scale(1.2) translate(0, -5px);
            transform: scale(1.2) translate(0, -5px);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  .gauge .dxg-value-indicator .dxg-title {
    text-transform: uppercase;
  }
  .gauge .dxg-value-indicator .dxg-title text:first-child {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  .gauge .dxg-value-indicator .dxg-spindle-border:nth-child(4),
  .gauge .dxg-value-indicator .dxg-spindle-hole:nth-child(5) {
    -webkit-transform: translate(0, -109px);
            transform: translate(0, -109px);
  }
  .gauge .dxg-value-indicator .dxg-spindle-hole {
    fill: #26323a;
  }
  #indicator-Temperatura-Gpu {
    -ms-transform-origin: 50% 65.9%;
    -moz-transform-origin: 50% 65.9%;
    -webkit-transform-origin: 50% 65.9%;
    -o-transform-origin: 50% 65.9%;
    transform-origin: 50% 65.9%;
    -webkit-transition: all .5s;
    transition: all 1s;
    transform: rotate(-90deg);
  }

  #indicator-Temperatura-Cpu {
    -ms-transform-origin: 50% 65.9%;
    -moz-transform-origin: 50% 65.9%;
    -webkit-transform-origin: 50% 65.9%;
    -o-transform-origin: 50% 65.9%;
    transform-origin: 50% 65.9%;
    -webkit-transition: all .5s;
    transition: all 1s;
    transform: rotate(-90deg);
  }

  #indicator_GPU {
    -ms-transform-origin: 50% 65.9%;
    -moz-transform-origin: 50% 65.9%;
    -webkit-transform-origin: 50% 65.9%;
    -o-transform-origin: 50% 65.9%;
    transform-origin: 50% 65.9%;
    -webkit-transition: all .5s;
    transition: all 1s;
    transform: rotate(-90deg);
  }

  #indicatorCpu {
    -ms-transform-origin: 50% 65.9%;
    -moz-transform-origin: 50% 65.9%;
    -webkit-transform-origin: 50% 65.9%;
    -o-transform-origin: 50% 65.9%;
    transform-origin: 50% 65.9%;
    -webkit-transition: all .5s;
    transition: all 1s;
    transform: rotate(-90deg);
  }

  /* bateria */
   /*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --gradient-color-red: linear-gradient(90deg, 
                          hsl(7, 89%, 46%) 15%,
                          hsl(11, 93%, 68%) 100%);
  --gradient-color-orange: linear-gradient(90deg, 
                           hsl(22, 89%, 46%) 15%,
                           hsl(54, 90%, 45%) 100%);
  --gradient-color-yellow: linear-gradient(90deg, 
                           hsl(54, 89%, 46%) 15%,
                           hsl(92, 90%, 45%) 100%);
  --gradient-color-green: linear-gradient(90deg, 
                          hsl(92, 89%, 46%) 15%,
                          hsl(92, 90%, 68%) 100%);
  --text-color: #fff;
  --body-color: hsl(0, 0%, 11%);
  --container-color: hsl(0, 0%, 9%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Rubik', sans-serif;

  --biggest-font-size: 2.5rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.75rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: var(--normal-font-size);
}

/*=============== BATTERY ===============*/
.battery {
  height: 100vh;
  display: grid;
  place-items: center;
  margin: 0 1.5rem;
}

.battery__card {
  position: relative;
  width: 100%;
  height: 240px;
  padding: 1.5rem 2rem;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.battery__text {
  margin-bottom: .5rem;
}

.battery__percentage {
  font-size: var(--biggest-font-size);
}

.battery__status {
  position: absolute;
  bottom: 1.5rem;
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--smaller-font-size);
}

.battery__status i {
  font-size: 1.25rem;
}

.battery__pill {
  position: relative;
  width: 75px;
  height: 180px;
  background-color: hsl(0deg 0% 100%);
  box-shadow: inset 20px 0 48px hsl(0deg 0% 100%), inset -4px 12px 48px hsl(0, 0%, 56%);
  border-radius: 3rem;
  justify-self: flex-end;
}

.battery__level {
  position: absolute;
  inset: 2px;
  border-radius: 3rem;
  overflow: hidden;
}

.battery__liquid {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 36px;
  background: var(--gradient-color-red);
  box-shadow: inset -10px 0 12px hsla(0, 0%, 0%, .1), 
              inset 12px 0 12px hsla(0, 0%, 0%, .15);
  transition: .3s;
}

.battery__liquid::after {
  content: '';
  position: absolute;
  height: 8px;
  background: var(--gradient-color-red);
  box-shadow: inset 0px -3px 6px hsla(0, 0%, 0%, .2);
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -4px;
  border-radius: 50%;
}

/* Full battery icon color */
.green-color {
  background: var(--gradient-color-green);
}

/* Battery charging animation */
.animated-green {
  background: var(--gradient-color-green);
  animation: animated-charging-battery 1.2s infinite alternate;
}

/* Low battery animation */
.animated-red {
  background: var(--gradient-color-red);
  animation: animated-low-battery 1.2s infinite alternate;
}

.animated-green,
.animated-red,
.green-color {
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes animated-charging-battery {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 6px hsl(92, 90%, 68%);
  }
}

@keyframes animated-low-battery {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 8px hsl(7, 89%, 46%);
  }
}

/* Liquid battery with gradient color */
.gradient-color-red,
.gradient-color-red::after {
  background: var(--gradient-color-red);
}

.gradient-color-orange,
.gradient-color-orange::after {
  background: var(--gradient-color-orange);
}

.gradient-color-yellow,
.gradient-color-yellow::after {
  background: var(--gradient-color-yellow);
}

.gradient-color-green,
.gradient-color-green::after {
  background: var(--gradient-color-green);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .battery__card {
    zoom: .8;
  }
}

/* For medium devices */
@media screen and (min-width: 430px) {
  .battery__card {
    width: 312px;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .battery__card {
    zoom: 1.2;
  }
}

.bateria{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* grafico */

.alerta {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.conteudo-alerta {
  background-color: #fff;
  margin: 6% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 70%;
}

.btn {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s;
}

.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 28px;
  margin-right: 78%;
  cursor: pointer;
  margin-top: 4.8%;
  background-color: black;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1%;
}

.conteudo-alerta h1 {
  margin-left: 3%;
  font-size: 22px;
}

#chart {
  max-width: 782px;            
  margin: 35px auto;
}

/*  alerta */

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.titulo-velo{
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 39%;
  margin: -23px 121px;
  color: #00000093;
}

.titulo-velo-temp{
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 25%;
  margin: -23px 42px;  
  color: #00000093;
}