@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

html,
body {
    min-height: 100%;
    font-family: 'Krona One', sans-serif;
    margin: auto;
}

header{
    display: flex;
    min-height: 100%;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px red solid;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tg-list {
    text-align: center;
    display: flex;
    align-items: center;
}

.tg-list-item {
    margin: 0 2em;
}

h2 {
    color: #000000;
}

h4 {
    color: #000000;
}

.tgl {
    display: none;
 
    + .tgl-btn {
        outline: 0;
        display: block;
        width: 4em;
        height: 2em;
        position: relative;
        cursor: pointer;
    user-select: none;
        &:after,
    &:before {
            position: relative;
            display: block;
            content: "";
            width: 50%;
            height: 100%;
        }
   
        &:after {
            left: 0;
        }
   
        &:before {
            display: none;
        }
    }
 
    &:checked + .tgl-btn:after {
        left: 50%;
    }
}

.tgl-light {
    + .tgl-btn {
        background: #f0f0f0;
        border-radius: 2em;
        padding: 2px;
        transition: all .4s ease;
        &:after {
            border-radius: 50%;
            background: #fff;
            transition: all .2s ease;
        }
    }
 
    &:checked + .tgl-btn {
        background: #9FD6AE;
    }
}

.tgl-ios {
    + .tgl-btn {
        background: #fbfbfb;
        border-radius: 2em;
        padding: 2px;
        transition: all .4s ease;
        border: 1px solid #e8eae9;
        &:after {
            border-radius: 2em;
            background: #fbfbfb;
            transition:
        left .3s cubic-bezier(
          0.175, 0.885, 0.320, 1.275
        ),
        padding .3s ease, margin .3s ease;
            box-shadow:
        0 0 0 1px rgba(0,0,0,.1),
        0 4px 0 rgba(0,0,0,.08);
        }
   
    &:hover:after {
      will-change: padding;
    }
   
        &:active {
            box-shadow: inset 0 0 0 2em #e8eae9;
            &:after {
                padding-right: .8em;
            }
        }
    }
 
    &:checked + .tgl-btn {
    background: #86d993;
    &:active {
      box-shadow: none;
      &:after {
        margin-left: -.8em;
      }
    }
    }
}

.tgl-skewed {
    + .tgl-btn {
        overflow: hidden;
        transform: skew(-10deg);
        backface-visibility: hidden;
        transition: all .2s ease;
        font-family: sans-serif;
        background: #888;
        &:after,
    &:before {
            transform: skew(10deg);
            display: inline-block;
            transition: all .2s ease;
            width: 100%;
            text-align: center;
            position: absolute;
            line-height: 2em;
            font-weight: bold;
            color: #fff;
            text-shadow: 0 1px 0 rgba(0,0,0,.4);
        }
   
        &:after {
            left: 100%;
            content: attr(data-tg-on);
        }
   
        &:before {
            left: 0;
            content: attr(data-tg-off);
        }
   
        &:active {
            background: #888;
            &:before {
                left: -10%;
            }
        }
    }
 
    &:checked + .tgl-btn {
    background: #86d993;
    &:before {
      left: -100%;
    }

    &:after {
      left: 0;
    }

    &:active:after {
      left: 10%;
    }
    }
}

.tgl-flat {
    + .tgl-btn {
        padding: 2px;
        transition: all .2s ease;
        background: #fff;
        border: 4px solid #f2f2f2;
        border-radius: 2em;
        &:after {
            transition: all .2s ease;
            background: #f2f2f2;
            content: "";
            border-radius: 1em;
        }
    }
 
    &:checked + .tgl-btn {
    border: 4px solid #7FC6A6;
    &:after {
      left: 50%;
      background: #7FC6A6;
    }
  }
}

.tgl-flip {
    + .tgl-btn {
        padding: 2px;
        transition: all .2s ease;
        font-family: sans-serif;
        perspective: 100px;
        &:after,
    &:before {
            display: inline-block;
            transition: all .4s ease;
            width: 100%;
            text-align: center;
            position: absolute;
            line-height: 2em;
            font-weight: bold;
            color: #fff;
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
            border-radius: 4px;
        }
   
        &:after {
            content: attr(data-tg-on);
            background: #02C66F;
            transform: rotateY(-180deg);
        }
   
        &:before {
            background: #FF3A19;
            content: attr(data-tg-off);
        }

        &:active:before {
      transform: rotateY(-20deg);
        }
    }
 
    &:checked + .tgl-btn {
    &:before {
      transform: rotateY(180deg);
    }
   
    &:after {
      transform: rotateY(0);
      left: 0;
      background: #7FC6A6;
    }
   
    &:active:after {
      transform: rotateY(20deg);
    }
    }
}

.modo{
    display: flex;
    min-height: 100%;
    flex-direction: row;
    align-items: center;
    width: 45%;
    margin-left: 1%;
}

.hora{
    font-size: 24px;
    width: 5%;
    margin-left: 25%;
}

.logo{
    width: 20%;
}

.modo h2{
    margin-left: 2%;
}

.nome-usuario{
    margin-left: 5%;
    margin: 44px 69px;
}

.divTotal{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.divEsquerda{
    display: flex;
    padding-top: 30px;
    font-size: 24px;
    width: 35%;
    height: 660px;
    border-right: solid 2px red;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.divResumo{
    display: flex;
    margin: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    width: 100%;
    margin-bottom: -20px;
}

.imgResumo{
    display: flex;
    width: 35px;
    margin-right: -60px;

}

.divTeslaTelemetria{
    background-image: url(../../../../assets/img/teslaTelemetria.png);
    background-size: 176px;
    background-position: center;
    height: 500px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divDianteira{
    display: flex;
    width: 340px;
    flex-direction: row;
    margin-top: 70px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-between;
}

.divTraseira{
    display: flex;
    flex-direction: row;
    width: 340px;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
}

#imgTelemetria{
    display: flex;
    width: 50%;
    margin: 50px;
    margin-left: -100px;
    margin-right: -100px;
}

.imgTelemetriaComponente{
    display: flex;
    width: 30px;

}

.divRodaDianteiraEsquerda{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap:10px; 
}

.divRodaTraseiraEsquerda{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap:10px;   
}

.divRodaDianteiraDireita{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap:10px; 
}
.divRodaTraseiraDireita{
    font-size: 15px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap:10px; 
}
.divSup{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.divLegenda{
    display: flex;
    width : 100%;
    padding-top: 10px;
    padding-bottom: 10px ;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 15px;
    width: 100%;
    border-top: solid 2px red;
}

.divDireta{
    display: flex;
    flex-direction: column;
    border-left: solid 2px red;
}

.divSuperior{
    display: flex;
    width: 900px;
    margin: 30px;
    margin-top: -30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.divKpi{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.divInferior{
  margin-top: -70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#myChart{
  display: flex;
  width: 850px;
  height: 437px;
}















  /* bateria */
   /*=============== GOOGLE FONTS ===============*/
   @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

   /*=============== VARIABLES CSS ===============*/
   :root {
     /*========== Colors ==========*/
     /*Color mode HSL(hue, saturation, lightness)*/
     --gradient-color-red: linear-gradient(90deg, 
                             hsl(7, 89%, 46%) 15%,
                             hsl(11, 93%, 68%) 100%);
     --gradient-color-orange: linear-gradient(90deg, 
                              hsl(22, 89%, 46%) 15%,
                              hsl(54, 90%, 45%) 100%);
     --gradient-color-yellow: linear-gradient(90deg, 
                              hsl(54, 89%, 46%) 15%,
                              hsl(92, 90%, 45%) 100%);
     --gradient-color-green: linear-gradient(90deg, 
                             hsl(92, 89%, 46%) 15%,
                             hsl(92, 90%, 68%) 100%);
     --text-color: #fff;
     --body-color: hsl(0, 0%, 11%);
     --container-color: hsl(0, 0%, 9%);
   
     /*========== Font and typography ==========*/
     /*.5rem = 8px | 1rem = 16px ...*/
     --body-font: 'Rubik', sans-serif;
   
     --biggest-font-size: 2.5rem;
     --normal-font-size: .938rem;
     --smaller-font-size: .75rem;
   }
   
   /* Responsive typography */
   @media screen and (min-width: 968px) {
     :root {
       --biggest-font-size: 2.75rem;
       --normal-font-size: 1rem;
       --smaller-font-size: .813rem;
     }
   }
   
   /*=============== BASE ===============*/
   * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
   }
   
   body {
     font-size: var(--normal-font-size);
   }
   
   /*=============== BATTERY ===============*/
   .battery {
     height: 100vh;
     display: grid;
     place-items: center;
     margin: 0 1.5rem;
   }
   
   .battery__card {
     position: relative;
     width: 100%;
     height: 240px;
     padding: 1.5rem 2rem;
     border-radius: 1.5rem;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     align-items: center;
   }
   
   .battery__text {
     margin-bottom: .5rem;
   }
   
   .battery__percentage {
     font-size: var(--biggest-font-size);
   }
   
   .battery__status {
     position: absolute;
     bottom: 1.5rem;
     display: flex;
     align-items: center;
     column-gap: .5rem;
     font-size: var(--smaller-font-size);
   }
   
   .battery__status i {
     font-size: 1.25rem;
   }
   
   .battery__pill {
     position: relative;
     width: 45px;
     height: 110px;
     background-color: hsl(0deg 0% 100%);
     box-shadow: inset 20px 0 48px hsl(0deg 0% 100%), inset -4px 12px 48px hsl(0, 0%, 56%);
     border-radius: 3rem;
     justify-self: flex-end;
   }
   
   .battery__level {
     position: absolute;
     inset: 2px;
     border-radius: 3rem;
     overflow: hidden;
   }
   
   .battery__liquid {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     height: 36px;
     background: var(--gradient-color-red);
     box-shadow: inset -10px 0 12px hsla(0, 0%, 0%, .1), 
                 inset 12px 0 12px hsla(0, 0%, 0%, .15);
     transition: .3s;
   }
   
   .battery__liquid::after {
     content: '';
     position: absolute;
     height: 8px;
     background: var(--gradient-color-red);
     box-shadow: inset 0px -3px 6px hsla(0, 0%, 0%, .2);
     left: 0;
     right: 0;
     margin: 0 auto;
     top: -4px;
     border-radius: 50%;
   }
   
   /* Full battery icon color */
   .green-color {
     background: var(--gradient-color-green);
   }
   
   /* Battery charging animation */
   .animated-green {
     background: var(--gradient-color-green);
     animation: animated-charging-battery 1.2s infinite alternate;
   }
   
   /* Low battery animation */
   .animated-red {
     background: var(--gradient-color-red);
     animation: animated-low-battery 1.2s infinite alternate;
   }
   
   .animated-green,
   .animated-red,
   .green-color {
     -webkit-background-clip: text;
     color: transparent;
   }
   
   @keyframes animated-charging-battery {
     0% {
       text-shadow: none;
     }
     100% {
       text-shadow: 0 0 6px hsl(92, 90%, 68%);
     }
   }
   
   @keyframes animated-low-battery {
     0% {
       text-shadow: none;
     }
     100% {
       text-shadow: 0 0 8px hsl(7, 89%, 46%);
     }
   }
   
   /* Liquid battery with gradient color */
   .gradient-color-red,
   .gradient-color-red::after {
     background: var(--gradient-color-red);
   }
   
   .gradient-color-orange,
   .gradient-color-orange::after {
     background: var(--gradient-color-orange);
   }
   
   .gradient-color-yellow,
   .gradient-color-yellow::after {
     background: var(--gradient-color-yellow);
   }
   
   .gradient-color-green,
   .gradient-color-green::after {
     background: var(--gradient-color-green);
   }
   
   /*=============== BREAKPOINTS ===============*/
   /* For small devices */
   @media screen and (max-width: 320px) {
     .battery__card {
       zoom: .8;
     }
   }
   
   /* For medium devices */
   @media screen and (min-width: 430px) {
     .battery__card {
       width: 312px;
     }
   }
   
   /* For large devices */
   @media screen and (min-width: 1024px) {
     .battery__card {
       zoom: 1.2;
     }
   }
   
   .bateria{
     display: flex;
     flex-direction: column;
     align-items: center;
   }

